<div ng-include="'components/navbar/navbar.html'"></div>

<my-header head="Project"></my-header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div ng-controller="PaginationDemoCtrl">

        <div class="row">
          <div class="col-lg-12">
            <pagination
              ng-click="pageChanged()" direction-links="false"
              boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage"
              ng-model="currentPage"
              class="pull-right"
              >
            </pagination>
          </div>
        </div>

        <accordion close-others="oneAtATime">

          <accordion-group ng-repeat="post in posts">
            <accordion-heading>
              {{post.title | ucfirst }}

              <span class="glyphicon glyphicon-remove pull-right" ng-click="remove(post, $event)" ng-show="isAdmin()"></span>
              <span class="glyphicon glyphicon-pencil pull-right" ng-click="edit(post, $event)" ng-show="isAdmin()"></span>
              <span class="time pull-right" am-time-ago="post.posted"></span>
            </accordion-heading>

            <div class="markdown-container" btf-markdown="post.contents"></div>

            <a href="/blog/{{post._id}}">Make a comment</a>
          </accordion-group>

        </accordion>

        <pre>Page: {{currentPage}} / {{totalItems / itemsPerPage}}</pre>

      </div>
    </div>
  </div>
</div>




<footer class="footer" ng-include="'components/footer/footer.html'"></footer>
